<div *ngFor="let program of newTemplateState.programs" class="form-group is-empty">
    <span class="col-md-2 control-label">Program & status <span class="text-danger">*</span></span>

    <div class="col-md-10">
        <div class="col-md-4">
            <select class="form-control" id="selectProgram" (load)="updateListener()">
                <option *ngFor="let p of programs" [selected]="p.id===program.id">{{p.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <select id="selectStatus" class="form-control">
                <option *ngFor="let status of program.statuses">{{status.name}}</option>
            </select>
        </div>
    </div>
    current program = {{program.name}}<br />
</div>


<program-template *ngIf="currentProgramIndex+1<newTemplateState.programs.length" [newTemplateState]="newTemplateState"></program-template>